/*--------------------------
           NEWLIST 
--------------------------*/
.newlist {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://static.pexels.com/photos/355296/pexels-photo-355296.jpeg);
    background-size: cover;
    background-position: 65% center;
}
.scroll-down, .scroll-up{
    width: 100%;
    height: 25px;
    position: relative;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
  }
.add-todo-container {
    margin: 20px 2.5% 25px;
}
.todo-container {
    margin: 0;
    padding: 0;
    width: 100%;
}
.add-todo {
    width: 95%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4) 13%, rgba(245, 245, 213, 0.4) 60%,  rgba(245, 245, 213, 0.4), rgba(0, 0, 0, 0.4));
    height: 40px;
    border-radius: 2px;
}
.add-todo input {
    width: 75%;
    background: transparent;
    height: 25px;
    padding: 0;
    margin: 7.5px 5px;
    border: 0;
    outline: none;
    font-size: 16px;
}
.add-todo button {
    background: transparent;
    border: transparent;
    height: 25px;
    margin: 7.5px 0;
    padding: 0;
    font-size: 15px;
}
.add-todo .plus-sign {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin: 7.5px 0;
    font-size: 18px;
}
.todo-ul {
    height: 450px;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.todo-item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 10% 15px;
    height: 35px;
    text-transform: capitalize;
    border-radius: 4px;
    line-height: 35px;  
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(203, 203, 203, 0.4));
}
.red.todo-item {
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
}
.yellow.todo-item{
    background: linear-gradient(to bottom right, rgba(250, 250, 0, 0.4), rgba(255, 255, 255, 0.4));
}
.green.todo-item {
    background: linear-gradient(to bottom right, rgba(68, 240, 0, 0.4), rgba(245, 245, 213, 0.4));
} 
.format-0 .date-info, .format-1 .date-info, .format-2 .date-info, .format-3 .date-info, .format-4 .date-info {
    order: 3;
    width: 90px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.format-1 .date-info span {
    float: right;
    font-size: 13px;
    letter-spacing: -1px;
}
.format-2 > .date-info span {
    line-height: calc(35px / 2);
    display: block;
    width: 100%;
    height: 50%;
    font-size: 13px;
    letter-spacing: -1px;
    text-align: center;
}
.format-2 .name {
    display: block;
}
.format-3 .name-subtask .name {
    line-height: 22.5px;
    display: block;
    width: 100%;
    padding: 0;
    height: 50%;
    text-align: center;
    font-size: 15px;
}
.format-3 .name-subtask .sub-length {
    line-height: 20.5px;
    display: block;
    width: 100%;
    padding: 0;
    height: 50%;
    text-align: center;
    font-size: 12px;
}
.format-3 > .date-info span {
    line-height: calc(35px / 2);
    display: block;
    width: 100%;
    height: 50%;
    font-size: 13px;
    letter-spacing: -1px;
    text-align: center;
}
.format-4 .name-subtask .name {
    line-height: 22.5px;
    display: block;
    width: 100%;
    padding: 0;
    height: 50%;
    text-align: center;
    font-size: 15px;
}
.format-4 .name-subtask .sub-length {
    line-height: 20.5px;
    display: block;
    width: 100%;
    padding: 0;
    height: 50%;
    text-align: center;
    font-size: 12px;
}
.format-4 .date-info span {
   float: right;
   font-size: 13px;
   letter-spacing: -1px;
}
.name-subtask {
    order: 2;
    width: 45px;
    text-align: center;
    margin: 0 10px;
    height: 100%;
}
.delete { 
    margin: 0 15px;
    cursor: pointer;
    color: red;
    font-size: 20px;
    order: 4;
}
.edit {
    cursor: pointer;
    transform: rotateY(180deg);
    order: 5;
}
.star {
    margin-left: 5px;
    cursor: pointer;
    order: 1;
}
.star::before {
    content: '\2606';
    font-size: 25px;
    color: rgba(6, 104, 26, 0.761);
}
.active.star::before {
    content: '\2605';
    font-size: 25px;
    color: rgba(6, 104, 26, 0.761);
}

/*------new list option -----------*/
.newlist-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 45px;
}
.newlist-edit, .newlist-sort {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px
}
.newlist-sort {
    left: 20px;
}
.newlist-edit {
    right: 20px;
}
