/*--------------------------
           NEWLIST 
--------------------------*/
.newlist {
    width: 100%;
    height: 100vh;
    background: url(https://static.pexels.com/photos/355296/pexels-photo-355296.jpeg);
    background-size: cover;
    background-position: 65% center;
}
.add-todo {
    width: 95%;
    margin: 20px 2.5%;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4) 13%, rgba(245, 245, 213, 0.4) 60%,  rgba(245, 245, 213, 0.4), rgba(0, 0, 0, 0.4));
    height: 40px;
    border-radius: 2px;
}
.add-todo input {
    width: 75%;
    background: transparent;
    height: 25px;
    padding: 0;
    margin: 7.5px 5px;
    border: 0;
    outline: none;
    font-size: 16px;
}
.add-todo button {
    background: transparent;
    border: transparent;
    height: 25px;
    margin: 7.5px 0;
    padding: 0;
    font-size: 15px;
}
.add-todo .plus-sign {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin: 7.5px 0;
    font-size: 18px;
}
.todo-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.todo-item {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 15px 10% 0;
    height: 35px;
    text-transform: capitalize;
    border-radius: 4px;
    line-height: 35px;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(203, 203, 203, 0.4));
}
.red.todo-item {
    background: linear-gradient(to bottom right, rgba(255, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
}
.yellow.todo-item{
    background: linear-gradient(to bottom right, rgba(243, 243, 21, 0.4), rgba(255, 255, 255, 0.4));
}
.green.todo-item {
    background: linear-gradient(to bottom right, rgba(68, 240, 0, 0.4), rgba(245, 245, 213, 0.4));
} 
.date-info{
    height: 35px;
    width: 80px;
    order: 3;
    line-height: 100%;
    text-align: center;
}
.date-info .date {
    margin-top: 5px;
    height: calc(50% -5px);
    width: 100%;
    display: inline-block;
}
.date-info .time {
    height: 50%;
    width: 100%;
    display: inline-block;
}
.date {
    font-size: 10px;
}       
.time {
    font-size: 10px;
}
.name {
    text-align: center;
    height: 100%;
    width: 60px;
    margin: 0 10px;
    order: 2;
}
.delete { 
    margin: 0 15px;
    cursor: pointer;
    color: red;
    font-size: 20px;
    order: 4;
}
.edit {
    cursor: pointer;
    transform: rotateY(180deg);
    order: 5;
}
.star {
    margin-left: 5px;
    cursor: pointer;
    order: 1;
}
.star::before {
    content: '\2606';
    font-size: 25px;
    color: rgba(6, 104, 26, 0.761);
}
.active.star::before {
    content: '\2605';
    font-size: 25px;
    color: rgba(6, 104, 26, 0.761);
}

/*------new list option -----------*/
.newlist-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 45px;
}
.newlist-edit, .newlist-sort {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px
}
.newlist-sort {
    left: 20px;
}
.newlist-edit {
    right: 20px;
}
