.sub-task {
    width: 100%;
    height: 40px;
}
.sub-task form {
    width: 70%;
    display: inline-block;
}
.sub-task.edit {
    float: right;
}
.edit-show {
    float: right;
    display: "inline-block"
}
.edit-hide {
    display: none;
}