/* .custom-nav {
    max-width: 425px;
    margin: 0 auto;
}
.custom-nav .container {
    max-width: 100%;
} */

/* @media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px){}
.container {
    width: 750px;
} */

/* @media (min-width: 0px){
    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }
    .navbar-nav > li {
        float :left;
    }
    .navbar-header {
        float: left;
    }
} */