.new-list,
.calander {
    width: 100%;
    height: 325px;
    font-size: 50px;
    text-align: center;
    line-height: 325px;
}
.new-list {
    background: orange;
}
.calander {
    background: lightgreen;
}
.new-list a,
.calander a {
    color: white;
    text-decoration: none;
    font-size: 40px;    
}