.menu {
    height: 100%;
}
.new-list,
.calander {
    position: relative;
    width: 100%;
    height: 50%;
    font-size: 50px;
    text-align: center;
}
.new-list {
    background: orange;
}
.calander {
    background: lightgreen;
}
.new-list a,
.calander a {
    color: white;
    text-decoration: none;
    font-size: 40px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}