/*-------------Edit------------*/
.edit-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
}
.edit-header {
    position: relative;
    text-align: center;
    height: 50px;
    background : rgb(136, 85, 221);
    color: #FAFAFA !important;
}
.edit-exit {
    font-size: 40px;
    position: absolute;
    left: 11px;
    top: -11px;
    cursor: pointer
}
.edit-name {
    padding-top: 5px;
    display: block;
    text-align: center;
    font-size: 28px;
}
.edit-delete {
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.edit-body {
    width: 92%;
    margin: 0 4%;
}