.add-note {
    position: relative;
    width: 100%;
}
.add-note h1 {
    font-size: 1.5em;
    margin-top: 10px;
}
.add-note textarea {
    margin-top: 10px;
    width: 100%;
    background: #FAFAFA;
}